/*===========================================
// Variables
//==========================================*/

// Colors

$color-highlight: #ffad7b; // Orange

// Media query widths
$mq-xsmall:   1px;
$mq-small:    490px;
$mq-medium:   768px;
$mq-large:    1100px;
$mq-xlarge:   1400px;
