/*===========================================
// Typography
//==========================================*/

.intro {
  font-family: $stack-fjalla-one;
  color: $white;
  font-weight: lighter;
  margin-left: 15px;
  font-size: 13px;
  letter-spacing: 2px;
}

.caption {
  font-family: $stack-news-cycle;
  &:hover {
    cursor: pointer;
  }
}

.copyright {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}
