/*===========================================
// Base
//==========================================*/

* {
  font-family: $stack-sans-serif;
}

p {
  width: $w-small;
  max-width: $w-max;
  font-family: $stack-news-cycle;
  text-align: left;
  line-height: 25px;
  margin: 30px auto;
  @include medque("medium") {
    width: $w-medium;
    line-height: 30px;
  }
  @include medque("large") {
    width: $w-large;
  }
  @include medque("xlarge") {
    width: $w-xlarge;
  }
}
